<a href="https://colab.research.google.com/github/dincerkurnaz/machine-learning/blob/master/breast_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Yapay Sinir Ağları ile Meme Kanserinin Teşhisi

Dünya Kanser Araştırma Fonu'na göre Meme Kanseri kadınlarda en sık görülen kanser türü. 2018 yılında Meme Kanseri vaka sayısı 2.088.849 ve % 25.4'üne kanser teşhisi konuldu.

Bu rakamlar erken aşamada Meme Kanseri tespit etmek için bir çözüm üzerinde çalışmaya ikna edecek kadar dikkat çekmektedir.

* Aşağıdaki siteden 699 Meme kanseri şüphelisi hastanın verisini .data formatında bulabilirsiniz. Sizinle paylaşacağım github sayfamda verinin .csv formatı mevcut olacak.

https://archive.ics.uci.edu/ml/datasets/Breast+Cancer+Wisconsin+%28Diagnostic%29

Verimizi data adıyla pandas kütüphanesi kullanarak kaydedelim

In [0]:
import pandas as pd
#from google.colab import files
#file = files.upload()
url = "https://raw.githubusercontent.com/enespolat25/yapay-sinir-aglari-ile-meme-kanseri-teshisi/master/breastCancer.csv"
data = pd.read_csv(url, header = None)

In [4]:
data.head(15)

         0   1   2   3   4   5   6   7   8   9   10
0   1000025   5   1   1   1   2   1   3   1   1   2
1   1002945   5   4   4   5   7  10   3   2   1   2
2   1015425   3   1   1   1   2   2   3   1   1   2
3   1016277   6   8   8   1   3   4   3   7   1   2
4   1017023   4   1   1   3   2   1   3   1   1   2
5   1017122   8  10  10   8   7  10   9   7   1   4
6   1018099   1   1   1   1   2  10   3   1   1   2
7   1018561   2   1   2   1   2   1   3   1   1   2
8   1033078   2   1   1   1   2   1   1   1   5   2
9   1033078   4   2   1   1   2   1   2   1   1   2
10  1035283   1   1   1   1   1   1   3   1   1   2
11  1036172   2   1   1   1   2   1   2   1   1   2
12  1041801   5   3   3   3   2   3   4   4   1   4
13  1043999   1   1   1   1   2   3   3   1   1   2
14  1044572   8   7   5  10   7   9   5   5   4   4

Verimize ait sayı-tür bilgileri

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
0     699 non-null int64
1     699 non-null int64
2     699 non-null int64
3     699 non-null int64
4     699 non-null int64
5     699 non-null int64
6     699 non-null object
7     699 non-null int64
8     699 non-null int64
9     699 non-null int64
10    699 non-null int64
dtypes: int64(10), object(1)
memory usage: 60.1+ KB

6. indexte bazı veriler ? olarak girilmiş önce bunları 0 olarak değiştirelim daha sonra kolonun ortalamasını alarak bu 0 yazdığımız hücrelere ortalamasını yazalım

In [6]:
df = pd.DataFrame(data)
df[6] = df[6].replace('?',0)
df[6] = df[6].astype(int)

mean = int(df[6].mean())
df[6] = df[6].replace(0,mean)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

6.indexte hangi değerden kaç tane var görelim

In [7]:
df = pd.DataFrame(data)
df[6].value_counts()

1     402
10    132
3      44
5      30
2      30
8      21
4      19
9       9
7       8
6       4
Name: 6, dtype: int64

Veri setimiz 699 hastaya ait tümöre ait bilgilerini içeriyor.
İlk Kolon hastalara ait ID bilgisi

Diğer kolonlardan 1-9 arası tüm kolonlar tümöre ait değerler. Bu değerler 1-10 arası. 1'e ne kadar yakınsa iyi huylu, 10 a ne kadar yakınsa kötü huylu demek. 10 nolu kolon ise hastanın tümörünün sonuç olarak iyi huylu mu (2 değeri) yoksa kötü huylu mu(4 değeri) olduğunun bilgisini tutuyor. Biz 1-9 kolonlarındaki değerlere bakarak 10 nolu kolondaki sonuç bilgisini yapay sinir ağı ile tahmin etmeye çalışacağız.

10 nolu kolonda 2 olan değerleri 0, 4 olan değerleri 1 olarak değiştirelim

In [8]:
df[10] = df[10].replace(2,0).replace(4,1)
df.head(10)

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   0
1  1002945   5   4   4   5   7  10   3   2   1   0
2  1015425   3   1   1   1   2   2   3   1   1   0
3  1016277   6   8   8   1   3   4   3   7   1   0
4  1017023   4   1   1   3   2   1   3   1   1   0
5  1017122   8  10  10   8   7  10   9   7   1   1
6  1018099   1   1   1   1   2  10   3   1   1   0
7  1018561   2   1   2   1   2   1   3   1   1   0
8  1033078   2   1   1   1   2   1   1   1   5   0
9  1033078   4   2   1   1   2   1   2   1   1   0

Verimizi hazırladığımıza göre artık yapay sinir ağımızı oluşturabiliriz.Önce X değişkeni olarak 1-9 arası kolonlar Y değişkeni olarak 10. kolonu seçelim Verimizi %20 test %80 train olarak bölelim

In [0]:
from sklearn.model_selection import train_test_split

X = df.iloc[:, 1:10]
Y = df.iloc[:, 10]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

X değişkenlerimizi normalize edelim

In [0]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Keras ile sinir ağımızı oluşturalım

In [11]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [0]:
classifier = Sequential()

input layer ve hidden layerlerimizi oluşturalım. çIKIŞ 1-0 değerleri istediğimizden aktivasyon fonksiyonumuz sigmoid olacak

In [13]:
classifier.add(Dense(units = 5, activation = 'relu', input_dim=9))
classifier.add(Dense(units = 3, activation = 'relu'))
classifier.add(Dense(units = 1, activation = 'sigmoid'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

Yapay Sinir Ağımızı adam optimizer, mean_squared_error ve accuracy metriği ile compile edelim

In [0]:
classifier.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

100 epoch ve 10 batch_size ile eğitimimize başlayalım

In [15]:
classifier.fit(X_train, Y_train, batch_size = 10, epochs = 100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
559/559 [==============================] - 3s 5ms/step - loss: 0.1735 - acc: 0.8426
Epoch 2/100
559/559 [==============================] - 0s 290us/step - loss: 0.1087 - acc: 0.8909
Epoch 3/100
559/559 [==============================] - 0s 297us/step - loss: 0.0776 - acc: 0.9302
Epoch 4/100
559/559 [==============================] - 0s 302us/step - loss: 0.0595 - acc: 0.9463
Epoch 5/100
559/559 [==============================] - 0s 290us/step - loss: 0.0488 - acc: 0.9517
Epoch 6/100
559/559 [==============================] - 0s 277us/step - loss: 0.0419 - acc: 0.9624
Epoch 7/100
559/559 [==============================] - 0s 285us/step - loss: 0.0375 - acc: 0.9624
Epoch 8/100
559/559 [==============================] - 0s 286us/step - loss: 0.0344 - acc: 0.9624
Epoch 9/100
559/559 [==============================] - 0s 290us/step - loss: 0.0320 - acc: 0.9642
Epoch 10/100
559/559 [==============================] - 0s 307us/step - loss: 0.0300 - acc: 0.9642
Epoch 11/100
559/559 [==============================] - 0s 285us/step - loss: 0.0286 - acc: 0.9624
Epoch 12/100
559/559 [==============================] - 0s 283us/step - loss: 0.0275 - acc: 0.9642
Epoch 13/100
559/559 [==============================] - 0s 296us/step - loss: 0.0265 - acc: 0.9642
Epoch 14/100
559/559 [==============================] - 0s 292us/step - loss: 0.0256 - acc: 0.9660
Epoch 15/100
559/559 [==============================] - 0s 301us/step - loss: 0.0247 - acc: 0.9678
Epoch 16/100
559/559 [==============================] - 0s 308us/step - loss: 0.0241 - acc: 0.9678
Epoch 17/100
559/559 [==============================] - 0s 279us/step - loss: 0.0235 - acc: 0.9678
Epoch 18/100
559/559 [==============================] - 0s 285us/step - loss: 0.0230 - acc: 0.9678
Epoch 19/100
559/559 [==============================] - 0s 296us/step - loss: 0.0226 - acc: 0.9678
Epoch 20/100
559/559 [==============================] - 0s 293us/step - loss: 0.0222 - acc: 0.9696
Epoch 21/100
559/559 [==============================] - 0s 279us/step - loss: 0.0219 - acc: 0.9678
Epoch 22/100
559/559 [==============================] - 0s 302us/step - loss: 0.0216 - acc: 0.9696
Epoch 23/100
559/559 [==============================] - 0s 298us/step - loss: 0.0213 - acc: 0.9714
Epoch 24/100
559/559 [==============================] - 0s 282us/step - loss: 0.0211 - acc: 0.9732
Epoch 25/100
559/559 [==============================] - 0s 304us/step - loss: 0.0209 - acc: 0.9732
Epoch 26/100
559/559 [==============================] - 0s 296us/step - loss: 0.0207 - acc: 0.9732
Epoch 27/100
559/559 [==============================] - 0s 295us/step - loss: 0.0205 - acc: 0.9732
Epoch 28/100
559/559 [==============================] - 0s 296us/step - loss: 0.0203 - acc: 0.9732
Epoch 29/100
559/559 [==============================] - 0s 313us/step - loss: 0.0202 - acc: 0.9732
Epoch 30/100
559/559 [==============================] - 0s 277us/step - loss: 0.0200 - acc: 0.9767
Epoch 31/100
559/559 [==============================] - 0s 285us/step - loss: 0.0198 - acc: 0.9767
Epoch 32/100
559/559 [==============================] - 0s 297us/step - loss: 0.0197 - acc: 0.9767
Epoch 33/100
559/559 [==============================] - 0s 300us/step - loss: 0.0196 - acc: 0.9767
Epoch 34/100
559/559 [==============================] - 0s 283us/step - loss: 0.0195 - acc: 0.9767
Epoch 35/100
559/559 [==============================] - 0s 313us/step - loss: 0.0194 - acc: 0.9750
Epoch 36/100
559/559 [==============================] - 0s 295us/step - loss: 0.0192 - acc: 0.9767
Epoch 37/100
559/559 [==============================] - 0s 296us/step - loss: 0.0192 - acc: 0.9767
Epoch 38/100
559/559 [==============================] - 0s 300us/step - loss: 0.0190 - acc: 0.9767
Epoch 39/100
559/559 [==============================] - 0s 294us/step - loss: 0.0189 - acc: 0.9767
Epoch 40/100
559/559 [==============================] - 0s 277us/step - loss: 0.0189 - acc: 0.9767
Epoch 41/100
559/559 [==============================] - 0s 300us/step - loss: 0.0187 - acc: 0.9785
Epoch 42/100
559/559 [==============================] - 0s 294us/step - loss: 0.0186 - acc: 0.9803
Epoch 43/100
559/559 [==============================] - 0s 282us/step - loss: 0.0186 - acc: 0.9785
Epoch 44/100
559/559 [==============================] - 0s 299us/step - loss: 0.0184 - acc: 0.9803
Epoch 45/100
559/559 [==============================] - 0s 296us/step - loss: 0.0184 - acc: 0.9803
Epoch 46/100
559/559 [==============================] - 0s 297us/step - loss: 0.0182 - acc: 0.9803
Epoch 47/100
559/559 [==============================] - 0s 307us/step - loss: 0.0182 - acc: 0.9803
Epoch 48/100
559/559 [==============================] - 0s 291us/step - loss: 0.0181 - acc: 0.9803
Epoch 49/100
559/559 [==============================] - 0s 290us/step - loss: 0.0180 - acc: 0.9803
Epoch 50/100
559/559 [==============================] - 0s 296us/step - loss: 0.0179 - acc: 0.9803
Epoch 51/100
559/559 [==============================] - 0s 290us/step - loss: 0.0178 - acc: 0.9821
Epoch 52/100
559/559 [==============================] - 0s 300us/step - loss: 0.0178 - acc: 0.9803
Epoch 53/100
559/559 [==============================] - 0s 313us/step - loss: 0.0177 - acc: 0.9821
Epoch 54/100
559/559 [==============================] - 0s 296us/step - loss: 0.0176 - acc: 0.9821
Epoch 55/100
559/559 [==============================] - 0s 281us/step - loss: 0.0175 - acc: 0.9803
Epoch 56/100
559/559 [==============================] - 0s 320us/step - loss: 0.0175 - acc: 0.9821
Epoch 57/100
559/559 [==============================] - 0s 285us/step - loss: 0.0174 - acc: 0.9821
Epoch 58/100
559/559 [==============================] - 0s 284us/step - loss: 0.0174 - acc: 0.9821
Epoch 59/100
559/559 [==============================] - 0s 305us/step - loss: 0.0173 - acc: 0.9803
Epoch 60/100
559/559 [==============================] - 0s 278us/step - loss: 0.0173 - acc: 0.9821
Epoch 61/100
559/559 [==============================] - 0s 298us/step - loss: 0.0172 - acc: 0.9821
Epoch 62/100
559/559 [==============================] - 0s 285us/step - loss: 0.0171 - acc: 0.9821
Epoch 63/100
559/559 [==============================] - 0s 296us/step - loss: 0.0170 - acc: 0.9821
Epoch 64/100
559/559 [==============================] - 0s 283us/step - loss: 0.0170 - acc: 0.9803
Epoch 65/100
559/559 [==============================] - 0s 286us/step - loss: 0.0169 - acc: 0.9821
Epoch 66/100
559/559 [==============================] - 0s 298us/step - loss: 0.0168 - acc: 0.9821
Epoch 67/100
559/559 [==============================] - 0s 277us/step - loss: 0.0168 - acc: 0.9821
Epoch 68/100
559/559 [==============================] - 0s 298us/step - loss: 0.0168 - acc: 0.9821
Epoch 69/100
559/559 [==============================] - 0s 282us/step - loss: 0.0167 - acc: 0.9821
Epoch 70/100
559/559 [==============================] - 0s 286us/step - loss: 0.0167 - acc: 0.9821
Epoch 71/100
559/559 [==============================] - 0s 294us/step - loss: 0.0166 - acc: 0.9821
Epoch 72/100
559/559 [==============================] - 0s 306us/step - loss: 0.0165 - acc: 0.9821
Epoch 73/100
559/559 [==============================] - 0s 276us/step - loss: 0.0165 - acc: 0.9821
Epoch 74/100
559/559 [==============================] - 0s 296us/step - loss: 0.0165 - acc: 0.9821
Epoch 75/100
559/559 [==============================] - 0s 296us/step - loss: 0.0165 - acc: 0.9821
Epoch 76/100
559/559 [==============================] - 0s 299us/step - loss: 0.0163 - acc: 0.9821
Epoch 77/100
559/559 [==============================] - 0s 293us/step - loss: 0.0163 - acc: 0.9821
Epoch 78/100
559/559 [==============================] - 0s 309us/step - loss: 0.0162 - acc: 0.9821
Epoch 79/100
559/559 [==============================] - 0s 279us/step - loss: 0.0162 - acc: 0.9821
Epoch 80/100
559/559 [==============================] - 0s 297us/step - loss: 0.0161 - acc: 0.9821
Epoch 81/100
559/559 [==============================] - 0s 298us/step - loss: 0.0161 - acc: 0.9821
Epoch 82/100
559/559 [==============================] - 0s 282us/step - loss: 0.0160 - acc: 0.9821
Epoch 83/100
559/559 [==============================] - 0s 286us/step - loss: 0.0160 - acc: 0.9821
Epoch 84/100
559/559 [==============================] - 0s 319us/step - loss: 0.0160 - acc: 0.9821
Epoch 85/100
559/559 [==============================] - 0s 282us/step - loss: 0.0159 - acc: 0.9821
Epoch 86/100
559/559 [==============================] - 0s 286us/step - loss: 0.0158 - acc: 0.9821
Epoch 87/100
559/559 [==============================] - 0s 297us/step - loss: 0.0158 - acc: 0.9821
Epoch 88/100
559/559 [==============================] - 0s 294us/step - loss: 0.0157 - acc: 0.9821
Epoch 89/100
559/559 [==============================] - 0s 282us/step - loss: 0.0157 - acc: 0.9821
Epoch 90/100
559/559 [==============================] - 0s 314us/step - loss: 0.0156 - acc: 0.9821
Epoch 91/100
559/559 [==============================] - 0s 296us/step - loss: 0.0155 - acc: 0.9821
Epoch 92/100
559/559 [==============================] - 0s 291us/step - loss: 0.0154 - acc: 0.9821
Epoch 93/100
559/559 [==============================] - 0s 300us/step - loss: 0.0154 - acc: 0.9821
Epoch 94/100
559/559 [==============================] - 0s 281us/step - loss: 0.0154 - acc: 0.9821
Epoch 95/100
559/559 [==============================] - 0s 293us/step - loss: 0.0154 - acc: 0.9821
Epoch 96/100
559/559 [==============================] - 0s 293us/step - loss: 0.0152 - acc: 0.9821
Epoch 97/100
559/559 [==============================] - 0s 302us/step - loss: 0.0153 - acc: 0.9821
Epoch 98/100
559/559 [==============================] - 0s 280us/step - loss: 0.0151 - acc: 0.9821
Epoch 99/100
559/559 [==============================] - 0s 284us/step - loss: 0.0151 - acc: 0.9857
Epoch 100/100
559/559 [==============================] - 0s 282us/step - loss: 0.0151 - acc: 0.9839

Test olarak ayırdığımız X değerlerini tahmin edelim

In [16]:
Y_pred = classifier.predict(X_test)
Y_pred = [ 1 if y>=0.5 else 0 for y in Y_pred]
print(Y_pred)

[0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0]

Confussion matrix ile baktığımızda 0 ile encode ettiğimiz 85 değerin 3 ünü yanlış bilmiş 82 sini doğru bilmiş

55 kötü huylu tümörün sadece birini yanlış bilmiş

In [17]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
print(cm)

[[82  3]
 [ 1 54]]

# Faydalı olması dileğiyle